@media screen and (min-width: 1300px) and (max-width: 11111111111111111111111px){
  /*アニメーション集*/
  /*秒後に表示*/
.box {
  opacity: 0;               /* 最初は透明 */
  visibility: hidden;       /* 非表示扱い（フォーカス不可） */
  animation: show 0.6s ease forwards;
  animation-delay: 7s;     /* 10秒待ってから表示 */
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}


/* late-open = display: block; */
@keyframes late-open {
  to {
    display: block;
  }
}
  .anim-box.fadein.is-animated {
  animation: fadeIn 20.0s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.matrix .bg-wrap,
.matrix .bg-wrap .inn {
  display: block;
}
 
.matrix .bg-wrap {
  overflow: hidden;
  opacity: 0;
}
 
.matrix .bg-wrap + .bg-wrap {
  margin-top: 10px;
}
 
.matrix .bg-wrap .inn.large {
  font-size: 36px;
  font-weight: bold;
}
.matrix .bg-wrap .inn.small {
  font-size: 15px;
}
 
.matrix .bg-wrap .inn {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 100);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
 
.matrix.is-animated .bg-wrap {
  opacity: 1;
}
 
.matrix.is-animated .bg-wrap .inn {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.anim-box.slidein.is-animated {
  animation: slideIn 10s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}



@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}

.fadeout { 
  width: 90%;
  text-align: center;
          padding-top: 50%;
            left: 50%;

                transform: translate(-50%, -50%);
  position: absolute;
    animation: fadeOut 10s; /*keyframesで命名したものを使う。2秒間で消える*/
    animation-fill-mode: both; /*0%の時と100%の時の状態を保つ*/
}
  
@keyframes fadeOut {
    0% {
        opacity: 1; /*初めに存在する*/
    }
    100% {
        opacity: 0; /*最後に消える*/
    }
}
/*アニメーション集*/

.gazou{
    width:20%;
    text-align: center;
      position: absolute;
        padding-top: 25%;
            left: 15%;

                transform: translate(-50%, -50%);

}
.reado{
      font-family: "Zen Kurenaido", sans-serif;
      font-size: 300%;
      position: absolute;
      padding-top: 25%;
      padding-left: 7.5%;
      color: #dbb971;
}
.syoukaibun{
  font-family: "Yuji Boku", serif;
        position: absolute;
  margin-right:20%;
  font-size: 190%;
  padding-left: 33%;
    margin-left: 0rem;
  text-indent: -4rem;
  margin-top: 2%;
}
.rakkia{
  font-family: "Rampart One", sans-serif;
  position: absolute;
  font-size: 280%;
  padding-top: 31%;
  padding-left: 15%;
  color: #ff4343;
}
.aitemu{
      width:16%;
    text-align: center;
  position: absolute;
        padding-top: 87%;
            left: 32%;

                transform: translate(-50%, -50%);
}
.aitemub{
  
      width:15%;
    text-align: center;
  position: absolute;
        padding-top: 80%;
            left: 48%;

                transform: translate(-50%, -50%);

}
.rakkib{
      font-family: "Rampart One", sans-serif;
  position: absolute;
  font-size: 280%;
  padding-top: 33%;
  padding-left: 61%;
  margin-right: 8%;
  color: #1e9d5e;
}
.saityusen{
  width: 20%;
  padding-left: 75%;
  padding-top: 15%;
  position: absolute;
}
}
@media screen and (min-width: 426px) and (max-width: 1300px){
    /*アニメーション集*/
  /*秒後に表示*/
.box {
  opacity: 0;               /* 最初は透明 */
  visibility: hidden;       /* 非表示扱い（フォーカス不可） */
  animation: show 0.6s ease forwards;
  animation-delay: 7s;     /* 10秒待ってから表示 */
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}


/* late-open = display: block; */
@keyframes late-open {
  to {
    display: block;
  }
}
  .anim-box.fadein.is-animated {
  animation: fadeIn 20.0s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.matrix .bg-wrap,
.matrix .bg-wrap .inn {
  display: block;
}
 
.matrix .bg-wrap {
  overflow: hidden;
  opacity: 0;
}
 
.matrix .bg-wrap + .bg-wrap {
  margin-top: 10px;
}
 
.matrix .bg-wrap .inn.large {
  font-size: 36px;
  font-weight: bold;
}
.matrix .bg-wrap .inn.small {
  font-size: 15px;
}
 
.matrix .bg-wrap .inn {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 100);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
 
.matrix.is-animated .bg-wrap {
  opacity: 1;
}
 
.matrix.is-animated .bg-wrap .inn {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.anim-box.slidein.is-animated {
  animation: slideIn 10s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}



@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}

.fadeout { 
  width: 90%;
  text-align: center;
          padding-top: 65%;
            left: 50%;

                transform: translate(-50%, -50%);
  position: absolute;
    animation: fadeOut 10s; /*keyframesで命名したものを使う。2秒間で消える*/
    animation-fill-mode: both; /*0%の時と100%の時の状態を保つ*/
}
  
@keyframes fadeOut {
    0% {
        opacity: 1; /*初めに存在する*/
    }
    100% {
        opacity: 0; /*最後に消える*/
    }
}
  .gazou{
    width:25%;
    text-align: center;
      position: absolute;
        padding-top: 36%;
            left: 20%;

                transform: translate(-50%, -50%);

}
.reado{
  font-family: "Reggae One", system-ui;
  font-size: 250%;
      position: absolute;
      padding-top: 32%;
      padding-left: 9%;
    color: #dbb971;
}
.syoukaibun{
  font-family: "Yuji Boku", serif;
        position: absolute;
  margin-right:5%;
  font-size: 142%;
  padding-left: 44%;
    margin-left: 0rem;
  text-indent: -4rem;
  margin-top: 2%;
}
.rakkia{
  font-family: "Rampart One", sans-serif;
  position: absolute;
  font-size: 300%;
  padding-top: 39%;
  padding-left: 3%;
  color: #ff4343;
}
.aitemu{
      width:25%;
    text-align: center;
  position: absolute;
        padding-top: 116%;
            left: 15%;

                transform: translate(-50%, -50%);
}
.aitemub{
  
      width:13%;
    text-align: center;
  position: absolute;
        padding-top: 116%;
            left: 33%;

                transform: translate(-50%, -50%);

}
.rakkib{
      font-family: "Rampart One", sans-serif;
  position: absolute;
  font-size: 200%;
  padding-top: 44%;
  padding-left: 50%;
  color: #1e9d5e;
}
.saityusen{
  width: 20%;
  padding-left: 75%;
  padding-top: 3%;
  position: absolute;
}
}