@media screen and (min-width: 1300px) and (max-width: 11111111111111111111111px){

.gazou{
    width:30%;
    text-align: center;
      position: absolute;
        padding-top: 35%;
            left: 20%;

                transform: translate(-50%, -50%);

}
.reado{
      font-family: "Zen Kurenaido", sans-serif;
      font-size: 700%;
      position: absolute;
      padding-top: 35%;
      padding-left: 3%;
}
}
@media screen and (min-width: 426px) and (max-width: 1300px){
  .gazou{
    width:25%;
    text-align: center;
      position: absolute;
        padding-top: 36%;
            left: 20%;

                transform: translate(-50%, -50%);

}
.reado{
  font-family: "Reggae One", system-ui;
  font-size: 250%;
      position: absolute;
      padding-top: 34%;
      padding-left: 9%;
}
.syoukaibun{
  font-family: "Yuji Boku", serif;
        position: absolute;
  margin-right:5%;
  font-size: 142%;
  padding-left: 44%;
    margin-left: 0rem;
  text-indent: -4rem;
  margin-top: 4%;
}
.rakkia{
  font-family: "Rampart One", sans-serif;
  position: absolute;
  font-size: 300%;
  padding-top: 43%;
  padding-left: 3%;
  color: #ff4343;
}
.aitemu{
      width:25%;
    text-align: center;
  position: absolute;
        padding-top: 120%;
            left: 15%;

                transform: translate(-50%, -50%);
}
.aitemub{
  
      width:13%;
    text-align: center;
  position: absolute;
        padding-top: 120%;
            left: 33%;

                transform: translate(-50%, -50%);

}
.rakkib{
      font-family: "Rampart One", sans-serif;
  position: absolute;
  font-size: 200%;
  padding-top: 48%;
  padding-left: 40%;
  color: #1e9d5e;
}
}