html{
  background-color: #F7F7F7;
}
.zen-kurenaido-regular {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fuwafurikuzi{
    font-size: 380%;
    color: khaki;
    font-family: "Zen Kurenaido", sans-serif;
    position: absolute;
            top: 42%;
            left: 35%;
                transform: translate(-50%, -50%);
    
}
.kakuritu{
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 200%;
  position: absolute;
            margin-top: 8%;
            left: 10%;
  color: rgb(0, 0, 75);
}
.fuwafurikuzisetumei{
    font-size: 200%;
    font-family: "Zen Kurenaido", sans-serif;
    position: absolute;
    top: 48%;
    left: 20%;
    transform: translate(-50% -50%);
    right: 10%;
}
.atetara{
  font-size: 200%;
  font-family: "Zen Kurenaido", sans-serif;
  position: absolute;
  margin-top: 2%;
  margin-left: 5%;
  color: rgb(140, 131, 131);
}
.botan{
    width: 50%;
    text-align: center;
      position: absolute;
        top: 75%;
            left: 45%;
            
                transform: translate(-50%, -50%);

}